/* Linked to Homepage.html */

* { 
    font-family: Roboto, "Arial Black", sans-serif;
    line-height: 125%;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

body background-image {
    height: 100%;
    width: 100%;
}

#clock {
    font-size: 500%;
    text-align: center;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.boxContainer {
    margin: auto;
    width: 100%;
}

.boxes {
    display: block;
}
