/* Linked to Homepage.html */

* { 
    font-family: Roboto, "Arial Black", sans-serif;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}


#clock {
    font-size: 500%;
    text-align: center;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.boxContainer {
    margin: auto;
}

.boxes {
    display: block;
}

button {
    background-color: black;
    color: white;
    border-color: grey;
    width: 75px;
}
